# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# environment
.env
.env.*
!.env.example

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.idea/
.vscode/

# temporary
*.tmp
*.temp
